.mainNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3700B3;
    box-shadow: #230a57;
    min-height: 56px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.navHome {
    min-width: 50%;
    justify-content: left;
    padding: 5px;
}

.navObjects {
    min-width: 100%;
    display: flex;
}

.navPages {
    padding: 15px;
    /*background: blue;*/
    min-width: 50%;
    justify-content: end;
    text-align: right;
}

.navLink {
    /*background: green;*/
    padding: 10px;
}
.navLink:hover {
    background-color: blue;
    border-radius: 5px;
}