.mainNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #240e57;
    box-shadow: #230a57;
    min-height: 56px;
}

.navHome {

}

.navLink {
    padding: 10px;
}
.navLink:hover {
    background-color: blue;
}