@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.mainContainer {
    display: flex;
    min-height: 40%;
    max-width: 80%;
    margin-top: 2%;
}

.imageContainer {
    padding: 5%;
    min-width: 40%;

}

.imageBorder {
    border-radius: 25px;
    box-shadow: 10px 10px 5px ghostwhite;
}

.image {
    border-radius: 25px;
}

.textContainer {
    padding: 5%;
    min-width: 60%;
}

.textBorder {
    text-shadow: 2px 2px 10px ghostwhite;
}